Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

swift-tox-func-py39-centos-9-stream-fips:
  parent: swift-tox-func-py39-centos-9-stream
  voting: false
  description: 'Functional testing on a FIPS enabled Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-tox-func-encryption-py39-centos-9-stream-fips:
  parent: swift-tox-func-encryption-py39-centos-9-stream
  voting: false
  description: 'Functional encryption testing on a FIPS enabled
  
    Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-tox-func-ec-py39-centos-9-stream-fips:
  parent: swift-tox-func-ec-py39-centos-9-stream
  voting: false
  description: 'Functional EC testing on a FIPS enabled Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    bindep_profile: test py27
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  ansible-version: 9
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
  ...

swift-tox-py39:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.9.
  
  
    Uses tox with the ``py39`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py39
    bindep_profile: test py39
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func
    bindep_profile: test py27
  ...

swift-tox-func-encryption-py27:
  parent: swift-tox-func-py27
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

grenade:
  voting: false

Update SAIO Setup Guide to remove outdated instructions
  doc/source/development_saio.rst
Due: none

Improve test robustness for test_sharder.
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

[stable-only] Fix CI
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Harden pickle unmarshalling
  swift/common/db.py
  swift/common/direct_client.py
  swift/common/utils/__init__.py
  swift/common/utils/pickle.py
  swift/obj/diskfile.py
  swift/obj/reconstructor.py
  swift/obj/replicator.py
  swift/obj/updater.py
  test/unit/cli/test_relinker.py
  test/unit/common/test_db.py
  test/unit/common/utils/test_pickle.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_server.py
  test/unit/obj/test_updater.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test_sharder.py: pass timestamp strings to put_object
  swift/container/backend.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add x-amz-server-side-encryption on s3api
  swift/common/middleware/crypto/decrypter.py
  swift/common/middleware/s3api/s3response.py
  swift/common/middleware/s3api/utils.py
  test/s3api/test_object.py
  test/unit/common/middleware/crypto/test_decrypter.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3response.py
  test/unit/common/middleware/s3api/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: add publicAccessBlock to not implemented list
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3api.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

[stable-only] Pin version of tempest
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: Error on truncated aws-chunked input
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

timestamp: increase unit test coverage
  test/unit/common/utils/test_timestamp.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

timestamp: allow offset to be set to zero
  swift/common/utils/timestamp.py
  test/unit/common/utils/test_timestamp.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

timestamp: simplify offset validation
  swift/common/utils/timestamp.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

ssync_receiver: uniformly annotate logs with path
  swift/obj/ssync_receiver.py
  test/unit/obj/test_ssync_receiver.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: Test more methods for publicAccessBlock
  test/unit/common/middleware/s3api/test_s3api.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Forward-port CHANGELOG entries for stable releases
  CHANGELOG
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

ssync_receiver: clarify log message annotations
  swift/obj/ssync_receiver.py
  test/unit/obj/test_ssync.py
  test/unit/obj/test_ssync_receiver.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add quoted includes to shard range show
  swift/cli/manage_shard_ranges.py
  test/unit/cli/test_manage_shard_ranges.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Fix: drop the page cache for the bytes a ranged GET read, not the file head
  swift/obj/diskfile.py
  test/unit/obj/test_diskfile.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: Clarify range cache drop assertions
  test/unit/obj/test_diskfile.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

obj/diskfile: self-document _drop_cache offset for ranged GET reads
  swift/obj/diskfile.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: 501 unsupported bucket subresources at other levels
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3api.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Close DB connections in metadata servers
  swift/account/server.py
  swift/common/db.py
  swift/common/db_replicator.py
  swift/container/backend.py
  swift/container/replicator.py
  swift/container/server.py
  test/unit/__init__.py
  test/unit/account/test_server.py
  test/unit/common/test_db.py
  test/unit/common/test_db_replicator.py
  test/unit/container/test_backend.py
  test/unit/container/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

gatekeeper: Block X-Container-Host and other update headers from clients
  swift/common/middleware/gatekeeper.py
  test/unit/common/middleware/test_gatekeeper.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Fix timestamp collision in test_DELETE_container_updates
  test/unit/obj/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

swift-ring-builder: add --dev-id-bytes to write_ring
  swift/cli/ringbuilder.py
  test/unit/cli/test_ringbuilder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

add tests for dispersion reports
  test/unit/cli/test_dispersion_report.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

account: Split PUT code paths
  swift/account/server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: Fix restore on delete
  swift/common/middleware/s3api/controllers/obj.py
  test/s3api/test_versioning.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

trivial: Say version-id, not version_id in comment
  swift/common/middleware/versioned_writes/object_versioning.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

versioning: ignore Timestamp.offset when creating version-id
  swift/common/middleware/versioned_writes/object_versioning.py
  test/unit/common/middleware/test_object_versioning.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Fix rolling upgrade jobs
  tools/playbooks/multinode_setup/run.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Fix swift-multinode-rolling-upgrade-dalmatian job
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Path conditions:
  swift-tox-func-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py39: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-func-cors: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(cors|unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-9-stream: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(cors|unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-upload-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-upload-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
