Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    tox_environment:
      NOSE_COVER_HTML: 1
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36
  ...

swift-tox-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  ...

swift-tox-py38:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func

swift-tox-func-encryption-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

swift-tox-func-ec-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-ec`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-ec

swift-probetests-centos-8:
  parent: swift-probetests-centos-7
  nodeset: centos-8
  description: 'Setup a SAIO dev environment and run Swift''s probe tests
  
    under Python 3.
  
    '
  vars:
    bindep_profile: test py36

AbstractRateLimiter: add option to burst on start-up
  swift/common/utils.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add ceil method to utils.Timestamp
  swift/common/utils.py
  swift/container/server.py
  swift/obj/server.py
  swift/proxy/controllers/container.py
  swift/proxy/controllers/obj.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Round s3api listing LastModified to integer resolution
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/utils.py
  swift/common/utils.py
  test/functional/s3api/test_multi_upload.py
  test/functional/s3api/test_object.py
  test/functional/s3api/test_presigned.py
  test/unit/__init__.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_utils.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

trivial: add comment re sharder misplaced found stat
  swift/container/sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add missing services to sample rsyslog.conf
  etc/swift-rsyslog.conf-sample
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

sharder: ensure that misplaced tombstone rows are moved
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

ceph-tests: Remove known-failure
  doc/s3api/conf/ceph-known-failures-tempauth.yaml
Due: swift-tox-func-s3api-ceph-s3tests-tempauth

Add backend rate limiting middleware
  doc/source/middleware.rst
  etc/account-server.conf-sample
  etc/container-server.conf-sample
  etc/object-server.conf-sample
  setup.cfg
  swift/common/middleware/backend_ratelimit.py
  swift/common/swob.py
  swift/common/utils.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/test_backend_ratelimit.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

manage-shard-ranges: add gap repair option
  swift/cli/manage_shard_ranges.py
  swift/container/sharder.py
  test/probe/test_sharder.py
  test/unit/cli/test_manage_shard_ranges.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

CI: constrain py36 deps
  py36-constraints.txt
  tools/playbooks/multinode_setup/run.yaml
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

pytest: explicitly set system logger to DEBUG
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update AUTHORS
  AUTHORS
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Add Jianjian to authors.
  AUTHORS
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

CI: Run s3api test suite
  .zuul.yaml
  tools/playbooks/ceph-s3tests/run.yaml
  tools/playbooks/common/restart_swift.yaml
  tools/playbooks/s3api-tests/run.yaml
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Add best-effort support for more canned ACLs
  swift/common/middleware/s3api/acl_utils.py
  test/unit/common/middleware/s3api/test_acl_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3token: Only replace access_key_id in account
  swift/common/middleware/s3api/s3token.py
  test/unit/common/middleware/s3api/test_s3token.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

object-replicator: Remove some dead code
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api tests: allow AWS credential file loading
  doc/source/development_guidelines.rst
  test/s3api/__init__.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add ring_ip option to object services
  etc/object-server.conf-sample
  swift/common/storage_policy.py
  swift/common/utils.py
  swift/common/wsgi.py
  swift/container/sharder.py
  swift/obj/reconstructor.py
  swift/obj/replicator.py
  test/unit/common/test_wsgi.py
  test/unit/obj/test_reconstructor.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

more tests for canned acls
  test/unit/common/middleware/s3api/test_acl_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

doc: Comment out language option
  releasenotes/source/conf.py
Due: none

tests: Fix cross-test interaction
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

formpost: Add support for sha256/512 signatures
  swift/common/middleware/formpost.py
  swift/common/middleware/tempurl.py
  swift/common/utils.py
  test/functional/test_tempurl.py
  test/unit/common/middleware/test_formpost.py
  test/unit/common/middleware/test_tempurl.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Fix s3api cross policy copy
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Make grentee types case insensitive
  swift/common/middleware/s3api/subresource.py
  test/unit/common/middleware/s3api/test_s3_acl.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  swift/locale/de/LC_MESSAGES/swift.po
  swift/locale/en_GB/LC_MESSAGES/swift.po
  swift/locale/es/LC_MESSAGES/swift.po
  swift/locale/fr/LC_MESSAGES/swift.po
  swift/locale/it/LC_MESSAGES/swift.po
  swift/locale/ja/LC_MESSAGES/swift.po
  swift/locale/ko_KR/LC_MESSAGES/swift.po
  swift/locale/pt_BR/LC_MESSAGES/swift.po
  swift/locale/ru/LC_MESSAGES/swift.po
  swift/locale/tr_TR/LC_MESSAGES/swift.po
  swift/locale/zh_CN/LC_MESSAGES/swift.po
  swift/locale/zh_TW/LC_MESSAGES/swift.po
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Ensure clean starting state in test
  test/unit/common/test_internal_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy-logging: Allow to add domain in log messages
  doc/source/logs.rst
  swift/common/middleware/proxy_logging.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Better handle 503s in get_container_info, too
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Fix swiftclient/requests log level & Ignore py36 deprecation warnings
  swift/__init__.py
  test/__init__.py
  test/probe/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Stop partial()ing hashlib.new
  swift/common/middleware/tempurl.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Emit metrics for tempurl & formpost digest usage
  swift/common/middleware/formpost.py
  swift/common/middleware/tempurl.py
  test/unit/common/middleware/test_formpost.py
  test/unit/common/middleware/test_tempurl.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

sharder: fix probe tests skipping conditions
  test/probe/test_sharder.py
Due: swift-probetests-centos-7, swift-probetests-centos-8, openstack-tox-pep8

Make the object replicator and auditor more robust to ENODATA
  swift/obj/diskfile.py
  swift/obj/replicator.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove :memory: from DatabaseBrokers and unittests
  swift/common/db.py
  swift/container/backend.py
  test/unit/__init__.py
  test/unit/account/test_auditor.py
  test/unit/account/test_backend.py
  test/unit/account/test_utils.py
  test/unit/common/test_db.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-8: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
