Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Path conditions:
  swift-tox-func-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py39: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-func-cors: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(cors|unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-9-stream: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(cors|unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-upload-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-upload-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$

test/unit/container: cleanup Timestamp usage
  test/unit/container/test_replicator.py
  test/unit/container/test_updater.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Enhances sharding_in_progress metrics in recon log
  doc/source/overview_container_sharding.rst
  swift/container/sharder.py
  test/probe/test_sharder.py
  test/unit/cli/test_manage_shard_ranges.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Adds labeled cleaving metrics to the sharder
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Device in fresh db id suffix
  swift/container/backend.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

ssync: Refactor tests to use Timestamp and new assert
  test/unit/obj/common.py
  test/unit/obj/test_ssync_sender.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test: reconciler tests to use Timestamp class over time
  test/unit/container/test_reconciler.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

container tests: Use TS.normal for db_names
  test/unit/container/test_backend.py
  test/unit/container/test_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test_relinker: cleanup Timestamp usage
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

slo: use Timestamp.zero() as default in RespAttrs
  swift/common/middleware/slo.py
  test/unit/common/middleware/test_slo.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add a Timestamp.zero() method
  swift/common/container_sync_realms.py
  swift/common/db.py
  swift/common/exceptions.py
  swift/common/middleware/s3api/s3request.py
  swift/common/utils/timestamp.py
  swift/container/backend.py
  swift/container/reconciler.py
  swift/container/server.py
  swift/container/sync.py
  swift/obj/server.py
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  test/unit/common/middleware/test_container_sync.py
  test/unit/common/test_db.py
  test/unit/common/utils/test_timestamp.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test_utils: cleanup Timestamp usage
  test/unit/common/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

sharder: use correct Timestamp formats
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add labeled metrics to s3api
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/utils.py
  swift/common/utils/__init__.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

wsgi: Add url length limit config
  etc/swift.conf-sample
  swift/common/constraints.py
  swift/common/wsgi.py
  test/unit/common/test_wsgi.py
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

max_request_line: add probe test assertions
  test/probe/test_signals.py
Due: swift-probetests-centos-9-stream, openstack-tox-pep8

test_base.py: tighten up use of Timestamp
  swift/proxy/controllers/base.py
  test/unit/proxy/controllers/test_base.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

OldestAsyncPendingTracker accepts Timestamp.internal
  swift/obj/updater.py
  test/unit/obj/test_updater.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test_relinker.py: fix delta timestamp setup
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

container/test_server: cleanup Timestamp usage
  test/unit/container/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Replace deprecated warn method
  swift/obj/diskfile.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy/test_server.py: test_policy_IO_override timestamp refactoring.
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Ignore deprecation warnings for legacy Python versions
  swift/__init__.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

cli/info.py: use Timestamp.zero as default timestamp
  swift/cli/info.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test_object_versioning.py: used mocked Timestamps
  test/unit/common/middleware/test_object_versioning.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

legacy versioning: use Timestamp to create marker name
  swift/common/middleware/versioned_writes/legacy.py
  test/unit/common/middleware/test_versioned_writes.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: don't set req.date in s3api unit tests
  test/unit/common/middleware/s3api/test_multi_delete.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Remove duplicate sample config option
  etc/proxy-server.conf-sample
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: relocate timestamp tests to test_timestamp.py
  test/unit/common/test_utils.py
  test/unit/common/utils/test_timestamp.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

versioned_writes: use new parse_date_header helper
  swift/common/middleware/versioned_writes/legacy.py
  swift/common/middleware/versioned_writes/object_versioning.py
  swift/common/swob.py
  test/unit/common/middleware/test_object_versioning.py
  test/unit/common/test_swob.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Update rolling-upgrade jobs
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

docs: Clarify circumstances for using clobber_hardlink_collisions
  etc/object-server.conf-sample
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test_sync.py: fix timestamp handling
  test/unit/container/test_sync.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: assert that X-Timestamp headers are valid
  test/__init__.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_multi_delete.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_utils.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

probe tests: fix timestamp handling
  test/probe/test_container_failures.py
  test/probe/test_object_expirer.py
Due: swift-probetests-centos-9-stream, openstack-tox-pep8

test_backend.py: refactor TestUpdateNewItemFromExisting
  test/unit/container/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Update dockerhub secret
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Recliam db_dir/*.tmp files
  swift/common/db_replicator.py
  test/unit/common/test_db_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy-logging: Add 'api' labels
  swift/common/middleware/proxy_logging.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Fix flakey db_replicator unit test
  test/unit/common/test_db_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

CI: clean up old swift-*-image-py3 jobs
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3
