Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$

SSYNC: stop sharing global available_map/send_map
  swift/obj/ssync_sender.py
  test/unit/obj/test_ssync_sender.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add databases_per_second to db daemons
  doc/source/deployment_guide.rst
  etc/account-server.conf-sample
  etc/container-server.conf-sample
  swift/common/db_replicator.py
  swift/container/sharder.py
  test/unit/common/test_db_replicator.py
  test/unit/container/test_sharder.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix usage of multiple accounts in functional tests
  test/functional/test_slo.py
  test/functional/test_symlink.py
  test/functional/test_tempurl.py
  test/functional/test_versioned_writes.py
  test/functional/tests.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use correct headers in reconstructor requests
  swift/obj/reconstructor.py
  test/unit/obj/test_reconstructor.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

added note about double url quoting
  doc/source/logs.rst
Due: none

Clean up HASH_PATH_* patching
  test/unit/common/test_daemon.py
  test/unit/common/test_internal_client.py
  test/unit/common/test_wsgi.py
  test/unit/container/test_sync.py
  test/unit/container/test_updater.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_reconstructor.py
  test/unit/obj/test_replicator.py
  test/unit/obj/test_server.py
  test/unit/obj/test_ssync_receiver.py
  test/unit/obj/test_updater.py
  test/unit/proxy/test_server.py
Due: swift-dsvm-functional

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  swift/locale/en_GB/LC_MESSAGES/swift.po
  swift/locale/es/LC_MESSAGES/swift.po
  swift/locale/ja/LC_MESSAGES/swift.po
  swift/locale/ko_KR/LC_MESSAGES/swift.po
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add "historical document" note to ring background docs
  doc/source/ring_background.rst
Due: none

Update min tox version to 2.3.2
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: Monkey-patch json.loads to accept bytes on py35
  swift/__init__.py
  swift/common/direct_client.py
  swift/common/internal_client.py
  swift/common/memcached.py
  swift/common/middleware/listing_formats.py
  swift/common/middleware/symlink.py
  swift/common/ring/ring.py
  swift/common/utils.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/test_list_endpoints.py
  test/unit/common/test_direct_client.py
  test/unit/proxy/controllers/test_info.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: port account/container replicators
  swift/common/db.py
  swift/common/db_replicator.py
  swift/container/backend.py
  swift/container/reconciler.py
  swift/container/replicator.py
  test/unit/common/test_db_replicator.py
  test/unit/container/test_replicator.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove setup.py check from pep8 job
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

s3api: Add basic support for ?versions bucket listings
  swift/common/middleware/s3api/controllers/bucket.py
  test/unit/common/middleware/s3api/test_bucket.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix typo
  test/unit/obj/test_auditor.py
Due: swift-dsvm-functional

Fix typo
  test/unit/obj/test_diskfile.py
Due: swift-dsvm-functional

Only url-quote Keys when encoding-type=url
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/etree.py
  test/unit/common/middleware/s3api/test_bucket.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

update docs link address
  releasenotes/notes/2_10_0_release-666a76f4975657a5.yaml
Due: none

s3api: Change default location to us-east-1
  etc/proxy-server.conf-sample
  swift/common/middleware/s3api/controllers/location.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  test/functional/s3api/s3_test_client.py
  test/functional/s3api/test_bucket.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Handle non-ASCII characters in S3 v2 listings.
  swift/common/middleware/s3api/controllers/bucket.py
  test/functional/s3api/s3_test_client.py
  test/functional/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_bucket.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing ws seperator between words
  swift/container/backend.py
  swift/container/sharder.py
  swift/obj/diskfile.py
  swift/obj/reconstructor.py
  test/functional/__init__.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: port encryption
  swift/common/middleware/crypto/crypto_utils.py
  swift/common/middleware/crypto/decrypter.py
  swift/common/middleware/crypto/encrypter.py
  swift/common/middleware/crypto/keymaster.py
  swift/common/swob.py
  swift/container/server.py
  swift/obj/diskfile.py
  swift/obj/server.py
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  test/unit/__init__.py
  test/unit/common/middleware/crypto/crypto_helpers.py
  test/unit/common/middleware/crypto/test_crypto_utils.py
  test/unit/common/middleware/crypto/test_decrypter.py
  test/unit/common/middleware/crypto/test_encrypter.py
  test/unit/common/middleware/crypto/test_encryption.py
  test/unit/common/middleware/crypto/test_keymaster.py
  test/unit/common/middleware/crypto/test_kmip_keymaster.py
  test/unit/common/middleware/crypto/test_kms_keymaster.py
  test/unit/common/middleware/helpers.py
  test/unit/helpers.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: encryption follow-up
  swift/common/middleware/crypto/decrypter.py
  swift/common/middleware/crypto/keymaster.py
  swift/common/swob.py
  swift/common/utils.py
  test/unit/common/middleware/crypto/test_encryption.py
  test/unit/common/middleware/crypto/test_keymaster.py
  test/unit/common/test_utils.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

s3api: Include '-' in S3 ETags of normal SLOs
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/obj.py
  swift/common/middleware/s3api/s3response.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_s3response.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use eventlet.patcher.original to get Python select module in get_hub
  swift/common/utils.py
  test/unit/common/test_utils.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add chaging secret key for external KMS section
  doc/source/overview_encryption.rst
Due: none

Multi-key KMS keymaster
  swift/common/middleware/crypto/kms_keymaster.py
  test/unit/common/middleware/crypto/test_kms_keymaster.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix a potential bug
  swift/obj/diskfile.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Only print "SKIPPING FUNCTIONAL TESTS ..." messages once
  test/functional/__init__.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: Port test/unit/test_ringcomposer.py
  test/unit/cli/test_ringcomposer.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: Use collections.MutableMapping rather than UserDict.DictMixin
  swift/common/middleware/s3api/s3response.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: Fix a relative import
  test/unit/common/middleware/s3api/__init__.py
Due: swift-dsvm-functional

Py3: We cannot use len(filter(...))
  test/unit/common/middleware/s3api/helpers.py
Due: swift-dsvm-functional

Py3: Use dict.items instead of dict.iteritems
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/s3response.py
  test/unit/common/middleware/s3api/helpers.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: fix a simple bytes vs str issue
  test/unit/common/middleware/s3api/__init__.py
Due: swift-dsvm-functional

Py3: Fix test_memcache
  test/unit/common/middleware/test_memcache.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: Fix two unbound variables
  swift/container/sharder.py
  test/unit/obj/test_expirer.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix in-process func tests to work with newer PasteDeploy
  test/functional/__init__.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix SSYNC concurrency on partition
  swift/common/utils.py
  swift/obj/diskfile.py
  swift/obj/ssync_receiver.py
  test/unit/common/test_utils.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_ssync_receiver.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Py3: Replace map() with a list comprehension
  test/unit/common/middleware/s3api/test_service.py
Due: swift-dsvm-functional

fixed _check_node() in the container sharder
  swift/container/sharder.py
  test/unit/__init__.py
  test/unit/container/test_sharder.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423
