Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$

Clean up some proxy tests
  test/unit/proxy/controllers/test_account.py
  test/unit/proxy/controllers/test_container.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Fix expirer container generation
  swift/common/utils.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use ensure-pip role
  tools/playbooks/common/install_dependencies.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix stable gate
  swift/cli/ringbuilder.py
  test/unit/common/ring/test_builder.py
  test/unit/common/test_db.py
  tools/playbooks/common/install_dependencies.yaml
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: (Better) fix percentages in configs
  swift/common/utils.py
  swift/common/wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Bump up probe test timeout
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

probe-tests: Avoid a DuplicateSectionError on py3
  test/probe/test_signals.py
Due: swift-probetests-centos-7, openstack-tox-pep8

Remove lxml deprecated methods
  swift/common/middleware/s3api/etree.py
  test/functional/s3api/test_versioning.py
  test/unit/common/middleware/s3api/test_versioning.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Allow CompleteMultipartUpload requests to be retried
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/utils.py
  test/functional/s3api/__init__.py
  test/functional/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix up curl commands when object name has unix dir characters
  swift/cli/info.py
  test/unit/cli/test_info.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Don't do naive HEAD request for auth
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Stop munging RAW_PATH_INFO
  swift/common/wsgi.py
  test/unit/common/test_wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Get rid of memcache attr on proxy-server app
  swift/proxy/controllers/base.py
  swift/proxy/server.py
  test/unit/common/middleware/test_copy.py
  test/unit/proxy/controllers/test_account.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_container.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
  test/unit/proxy/test_sysmeta.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Use swift.backend_path to proxy-log s3api requests
  swift/common/middleware/proxy_logging.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Identify deleted shards as shards
  swift/container/backend.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Address a sharder/replicator race
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add a reminder to configure firewall at storage nodes
  doc/source/install/storage-install-rdo.rst
Due: none

Stop syncing empty suffixes list
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

probe tests: Get rid of `server` arg for device_dir() and storage_dir()
  test/probe/common.py
  test/probe/test_object_failures.py
  test/probe/test_object_handoff.py
  test/probe/test_object_partpower_increase.py
  test/probe/test_reconstructor_rebuild.py
  test/probe/test_reconstructor_revert.py
Due: swift-probetests-centos-7, openstack-tox-pep8

docs: Improve replication-network remakerings
  doc/source/replication_network.rst
Due: none

Breakup reclaim into batches
  swift/common/db.py
  swift/container/backend.py
  test/unit/account/test_backend.py
  test/unit/common/test_db.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update SAIO & docker image to use 62xx ports
  doc/saio/bin/remakerings
  doc/saio/rsyncd.conf
  doc/saio/swift/account-server/1.conf
  doc/saio/swift/account-server/2.conf
  doc/saio/swift/account-server/3.conf
  doc/saio/swift/account-server/4.conf
  doc/saio/swift/container-server/1.conf
  doc/saio/swift/container-server/2.conf
  doc/saio/swift/container-server/3.conf
  doc/saio/swift/container-server/4.conf
  doc/saio/swift/object-server/1.conf
  doc/saio/swift/object-server/2.conf
  doc/saio/swift/object-server/3.conf
  doc/saio/swift/object-server/4.conf
  doc/source/admin_guide.rst
  doc/source/development_saio.rst
  doc/source/policies_saio.rst
  doc/source/replication_network.rst
  docker/rootfs/etc/swift/account-server.conf
  docker/rootfs/etc/swift/container-server.conf
  docker/rootfs/etc/swift/object-server.conf
  docker/rootfs/etc/swift_build/build_remakerings
  etc/rsyncd.conf-sample
  examples/apache2/account-server.template
  examples/apache2/container-server.template
  examples/apache2/object-server.template
  swift/cli/recon.py
  swift/common/middleware/list_endpoints.py
  swift/common/ring/builder.py
  test/probe/test_container_failures.py
  test/probe/test_object_failures.py
  test/probe/test_object_handoff.py
  test/probe/test_reconstructor_revert.py
  tools/playbooks/multinode_setup/templates/make_multinode_rings.j2
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use latest pip in gate jobs
  tools/playbooks/common/install_dependencies.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Decouple proxy_server tests
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

swift-container-info: Show shard ranges summary
  bin/swift-container-info
  swift/cli/info.py
  test/unit/cli/test_info.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Actually interpolate error message
  swift/container/sync.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Allow replication servers to handle all request methods
  etc/account-server.conf-sample
  etc/container-server.conf-sample
  etc/object-server.conf-sample
  swift/common/base_storage_server.py
  test/unit/account/test_server.py
  test/unit/common/test_base_storage_server.py
  test/unit/container/test_server.py
  test/unit/obj/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

container-sharding: Stable overlap order
  swift/container/backend.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Treat add/remove/rebalance during part-power increase as error
  swift/cli/ringbuilder.py
  test/unit/cli/test_ringbuilder.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

docs: Clarify request_time in storage logs
  doc/source/logs.rst
Due: none

s3api: Allow lower-cased region name for AWS .NET SDK compatibility
  swift/common/middleware/s3api/s3request.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade
