Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-tox-py27:
  parent: swift-tox-base
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    tox_environment:
      NOSE_COVER_HTML: 1
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36
  ...

swift-tox-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  ...

swift-tox-func:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func

swift-tox-func-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run functional tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``func-py3`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-py3
  ...

swift-tox-func-encryption:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

swift-tox-func-domain-remap-staticweb:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-domain-remap-staticweb`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-domain-remap-staticweb

swift-tox-func-ec:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-ec`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  branches: ^(?!stable/ocata).*$
  vars:
    tox_envlist: func-ec

swift-tox-lower-constraints:
  parent: openstack-tox-lower-constraints
  vars:
    tox_environment:
      TMPDIR: '{{ ansible_env.HOME }}/xfstmp'

container-replicator: Add a timeout for get_shard_ranges
  swift/common/db_replicator.py
  swift/container/replicator.py
  test/unit/container/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix invalid assert states
  test/unit/container/test_sync.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add Python 3 Train unit tests
  setup.cfg
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

functests: make container creation less flakey in test_object
  test/functional/test_object.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: port staticweb and domain_remap func tests
  .zuul.yaml
  etc/proxy-server.conf-sample
  test/functional/__init__.py
  test/functional/test_domain_remap.py
  test/functional/test_staticweb.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Back out urllib3 requirement
  requirements.txt
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

functests: Make test_PUT_metadata less flakey
  test/functional/test_container.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

reconciler: Enqueue right work for shard containers
  swift/container/reconciler.py
  test/unit/container/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update auth_url in install docs
  doc/manpages/proxy-server.conf.5
  doc/source/install/controller-include.txt
  doc/source/overview_auth.rst
  etc/proxy-server.conf-sample
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

sharding: Cache shard ranges for object writes
  etc/proxy-server.conf-sample
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/probe/test_sharder.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

ring: Track more properties of the ring
  swift/cli/ringbuilder.py
  swift/common/ring/builder.py
  swift/common/ring/ring.py
  test/unit/cli/test_ringbuilder.py
  test/unit/common/ring/test_ring.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

sharding: better handle get_shard_ranges failures
  swift/container/replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Authors/changelog for 2.22.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_22_0_release-f60d29508b3c1283.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

py3: fix object-replicator rsync output parsing
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix up errno checking
  swift/common/wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make rolling-upgrade job voting again
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Bring functional/test_object.py under test; add func-ec-py37 job
  .zuul.yaml
  test/functional/test_object.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix test_parse_get_node_args
  test/unit/__init__.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

slo: Better handle non-manifest responses when refetching manifest
  swift/common/middleware/slo.py
  test/unit/common/middleware/test_slo.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: port SLO func tests
  swift/common/middleware/slo.py
  test/functional/test_slo.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update api-ref location
  CHANGELOG
  README.rst
  doc/source/api/object_api_v1_overview.rst
  doc/source/index.rst
  doc/source/overview_encryption.rst
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Fix title-casing in HeaderKeyDict
  swift/common/header_key_dict.py
  swift/common/middleware/s3api/controllers/obj.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/test_header_key_dict.py
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: fix non-ascii metadata handling in account-server
  swift/account/server.py
  swift/account/utils.py
  swift/container/server.py
  test/unit/account/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix broken API-ref link
  doc/source/index.rst
Due: none

Add integrated gate tempest and grenade job
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make backport releases conform to existing CHANGELOG formatting
  CHANGELOG
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

symlink: Allow symlinks to be created via chunk-encoded PUTs
  swift/common/middleware/symlink.py
  test/unit/common/middleware/test_symlink.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix the pep8 test will raise "Unknown test found in profile: B109"
  bandit.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Give ECAppIter greenthreads a chance to wrap up
  lower-constraints.txt
  requirements.txt
  swift/proxy/controllers/obj.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update the bandit.yaml available tests list
  bandit.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Negative test for non-empty chunked put symlink
  test/unit/common/middleware/test_symlink.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Ignore 404s from handoffs for objects when calculating quorum
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  test/probe/test_object_failures.py
  test/probe/test_object_handoff.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: paginate listings when aborting MPUs
  swift/common/middleware/s3api/controllers/multi_upload.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make GreenAsyncPile not hang
  swift/common/utils.py
  test/unit/common/middleware/s3api/test_multi_delete.py
  test/unit/common/test_utils.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  swift/locale/de/LC_MESSAGES/swift.po
  swift/locale/en_GB/LC_MESSAGES/swift.po
  swift/locale/es/LC_MESSAGES/swift.po
  swift/locale/fr/LC_MESSAGES/swift.po
  swift/locale/it/LC_MESSAGES/swift.po
  swift/locale/ja/LC_MESSAGES/swift.po
  swift/locale/ko_KR/LC_MESSAGES/swift.po
  swift/locale/pt_BR/LC_MESSAGES/swift.po
  swift/locale/ru/LC_MESSAGES/swift.po
  swift/locale/tr_TR/LC_MESSAGES/swift.po
  swift/locale/zh_CN/LC_MESSAGES/swift.po
  swift/locale/zh_TW/LC_MESSAGES/swift.po
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Increase node_timeout for real sever unittests
  test/unit/helpers.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: port RBAC func tests
  test/functional/test_access_control.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Allow non-default domain to be used in func tests
  test/functional/__init__.py
  test/functional/swift_test_client.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use `is` to compare against sentinel object
  swift/common/utils.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Add swift-tox-func-encryption-py37 gate job
  .zuul.yaml
  test/functional/__init__.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
