Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Path conditions:
  swift-tox-func-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py39: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-func-cors: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(cors|unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-9-stream: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(cors|unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-upload-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-upload-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$

Fix flakey proxy server test_node_timing
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

CI: Update dockerhub secret (again)
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Updating the dockerhub secret (again^2)
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Update dockerhub secret yet again
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Make swift-upload-image non-voting again
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add barbican_region_name support to Swift kms_keymaster middleware
  etc/keymaster.conf-sample
  swift/common/middleware/crypto/kms_keymaster.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

AUTHORS/CHANGELOG for 2.37.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/release-2.37.0-7a89cc30f85f03e0.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

s3api: do not set x-timestamp header
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/controllers/obj.py
  test/s3api/test_mpu.py
  test/s3api/test_object.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

[stable-only] Ignore bandit false-positive
  swift/common/middleware/proxy_logging.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

[stable-only] Update rolling-upgrade job
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

[stable-only] Fix CI
  .zuul.yaml
  etc/proxy-server.conf-sample
  roles/additional-keystone-users/tasks/main.yaml
  roles/dsvm-additional-middlewares/tasks/main.yaml
  swift/common/middleware/s3api/s3token.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: Support for object expiration time
  swift/common/middleware/s3api/s3response.py
  test/functional/s3api/test_object.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3response.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.36.1
  CHANGELOG
  releasenotes/notes/release-2.36.1-f8db8f2da1ab7016.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.35.2
  CHANGELOG
  releasenotes/notes/release-2.35.2-45d782fba98d426f.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

proxy unit tests: add more x-timestamp assertions
  test/unit/__init__.py
  test/unit/proxy/controllers/test_account.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

direct_client.py: proxy app: assign timestamp in a single place
  swift/common/direct_client.py
  test/unit/common/test_direct_client.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy app: assign timestamp in a single place
  swift/proxy/controllers/base.py
  swift/proxy/controllers/container.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/unit/proxy/controllers/test_account.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_container.py
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

object_versioning: use same timestamp for version and subreq
  swift/common/middleware/versioned_writes/object_versioning.py
  test/__init__.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/test_helpers.py
  test/unit/common/middleware/test_object_versioning.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.34.2
  CHANGELOG
  releasenotes/notes/release-2.34.2-f0f079829db84564.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

Create SECURITY.md
  SECURITY.md
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

trivial: remove print statement in relinker unit test
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

relinker: Prefix log messages with invoked action
  swift/cli/relinker.py
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Remove jammy job which is not required to run in this cycle
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Improve relinker test assertions
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: Stop using normalize_timestamp
  test/functional/__init__.py
  test/unit/__init__.py
  test/unit/account/test_reaper.py
  test/unit/account/test_replicator.py
  test/unit/account/test_server.py
  test/unit/common/test_db.py
  test/unit/common/test_db_replicator.py
  test/unit/common/utils/test_timestamp.py
  test/unit/container/test_auditor.py
  test/unit/container/test_updater.py
  test/unit/helpers.py
  test/unit/obj/common.py
  test/unit/obj/test_auditor.py
  test/unit/obj/test_replicator.py
  test/unit/obj/test_server.py
  test/unit/obj/test_ssync_receiver.py
  test/unit/obj/test_ssync_sender.py
  test/unit/obj/test_updater.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: move test_db over to BaseUnitTestCase
  test/unit/account/test_auditor.py
  test/unit/account/test_backend.py
  test/unit/common/test_db.py
  test/unit/container/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: more timestamp iter refactoring
  test/unit/cli/test_info.py
  test/unit/common/test_utils.py
  test/unit/container/test_backend.py
  test/unit/container/test_reconciler.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_reconstructor.py
  test/unit/proxy/controllers/test_base.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Replace usage of undocumented logging.WARN
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Deprecate S3Request.timestamp and add signing_timestamp
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Revert feature/threaded to master
  lower-constraints.txt
  requirements.txt
  swift/common/exceptions.py
  swift/common/utils/__init__.py
  swift/common/wsgi.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy: fix KeyError while listing sharded versions
  swift/proxy/controllers/container.py
  test/probe/test_sharder.py
  test/unit/proxy/controllers/test_container.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy: fix policy index in _get_from_shards response
  swift/proxy/controllers/container.py
  test/unit/container/test_server.py
  test/unit/proxy/controllers/test_container.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

obj-reconstructor: use Timestamp.internal in frag prefs
  swift/obj/reconstructor.py
  test/probe/test_reconstructor_rebuild.py
  test/unit/obj/test_reconstructor.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: Fail loudly when kill_drive/revive_drive fails
  test/probe/common.py
Due: swift-probetests-centos-9-stream, openstack-tox-pep8

s3api: Fix camel_to_snake
  swift/common/middleware/s3api/utils.py
  test/unit/common/middleware/s3api/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

py314: Fix non-ascii header-name parsing
  swift/common/http_protocol.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3
