Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Path conditions:
  swift-tox-func-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py39: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-func-cors: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(cors|unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-9-stream: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(cors|unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-upload-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-upload-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$

Fix rolling upgrade jobs
  tools/playbooks/multinode_setup/run.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Fix swift-multinode-rolling-upgrade-dalmatian job
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Make failing CORS job non-voting for now
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

versioning: ignore Timestamp.offset when creating version-id
  swift/common/middleware/versioned_writes/object_versioning.py
  test/unit/common/middleware/test_object_versioning.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Add flag to disable eventlet
  swift/common/concurrency.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

AUTHORS/CHANGELOG for 2.38.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/release-2.38.0-caf88c5b13b4439c.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.37.2
  CHANGELOG
  releasenotes/notes/release-2.37.2-919eb51c55220d60.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.36.2
  CHANGELOG
  releasenotes/notes/release-2.36.2-69c65b5ac8e4d607.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

CHANGELOG for 2.35.3
  CHANGELOG
  releasenotes/notes/release-2.35.3-48f117a536316b56.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

Forward-port CHANGELOG entries for stable releases
  CHANGELOG
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

Validate object POST metadata and timestamps
  swift/obj/server.py
  test/unit/obj/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tempurl/staticweb: Make listings with ?inline work as intended
  swift/common/middleware/tempurl.py
  test/functional/test_staticweb.py
  test/unit/common/middleware/test_tempurl.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

crypto: Fix listings when pipeline was misconfigured
  swift/common/middleware/crypto/keymaster.py
  test/unit/common/middleware/crypto/test_keymaster.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Quiet eventlet deprecation warnings.
  swift/__init__.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: rename TestableMemcacheRing to prevent warning
  test/unit/__init__.py
  test/unit/common/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

s3api: Check request params for invalid utf8 bytes on list_objects
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Don't include logging in inline account-update timeout
  swift/container/server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

encryption: Be more tolerant of errors while decrypting listings
  swift/common/middleware/crypto/decrypter.py
  test/unit/common/middleware/crypto/test_decrypter.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Remove note about old pip's behavior
  requirements.txt
  test-requirements.txt
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: allow hidden rows in DBs
  swift/container/backend.py
  test/unit/container/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Remove gettext from bindep
  bindep.txt
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: use relic and action rows to drive audit
  swift/common/db.py
  swift/common/middleware/mpu.py
  swift/common/middleware/s3api/controllers/obj.py
  swift/common/middleware/versioned_writes/object_versioning.py
  swift/common/object_ref.py
  swift/common/request_helpers.py
  swift/common/utils/__init__.py
  swift/container/backend.py
  swift/container/mpu_auditor.py
  swift/container/server.py
  swift/obj/server.py
  test/probe/test_mpu.py
  test/probe/test_reserved_name.py
  test/unit/__init__.py
  test/unit/common/middleware/test_mpu.py
  test/unit/common/test_object_ref.py
  test/unit/common/test_request_helpers.py
  test/unit/container/test_backend.py
  test/unit/container/test_mpu_auditor.py
  test/unit/container/test_server.py
  test/unit/obj/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: revert legacy multi_upload.py module
  etc/proxy-server.conf-sample
  swift/common/middleware/s3api/acl_handlers.py
  swift/common/middleware/s3api/controllers/__init__.py
  swift/common/middleware/s3api/controllers/native_multi_upload.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/s3api/utils.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
  test/unit/common/middleware/s3api/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: check mpu middleware is in pipeline for native MPU
  swift/common/middleware/s3api/s3api.py
  test/unit/common/middleware/s3api/test_s3api.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: Simplify patching in test_reap_delay
  test/unit/account/test_reaper.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

s3api: Clean up some logging
  swift/common/middleware/s3api/s3api.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

CI: Make CORS job voting again
  .zuul.yaml
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

staticweb: Work better with double slashes
  swift/common/middleware/staticweb.py
  test/functional/test_staticweb.py
  test/unit/common/middleware/test_staticweb.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: fix erroneous 404 response from version DELETE
  swift/common/middleware/s3api/controllers/obj.py
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: Fix native mpu acl handler class discovery
  swift/common/middleware/s3api/acl_handlers.py
  swift/common/middleware/s3api/controllers/base.py
  swift/common/middleware/s3api/controllers/native_multi_upload.py
  swift/common/middleware/s3api/controllers/s3_acl.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_acl_handlers.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

tests: Make tear_down_s3 version-aware
  test/functional/s3api/s3_test_client.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Fix XXE test under v4 presigned URLs
  test/functional/s3api/test_xxe_injection.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: bind ACL handlers to controllers
  swift/common/middleware/s3api/acl_handlers.py
  swift/common/middleware/s3api/controllers/acl.py
  swift/common/middleware/s3api/controllers/base.py
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/location.py
  swift/common/middleware/s3api/controllers/logging.py
  swift/common/middleware/s3api/controllers/multi_delete.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/controllers/obj.py
  swift/common/middleware/s3api/controllers/object_lock.py
  swift/common/middleware/s3api/controllers/s3_acl.py
  swift/common/middleware/s3api/controllers/service.py
  swift/common/middleware/s3api/controllers/tagging.py
  swift/common/middleware/s3api/controllers/versioning.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_acl_handlers.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

s3api: make resource types explicit
  swift/common/middleware/s3api/controllers/acl.py
  swift/common/middleware/s3api/controllers/base.py
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/location.py
  swift/common/middleware/s3api/controllers/logging.py
  swift/common/middleware/s3api/controllers/multi_delete.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/controllers/obj.py
  swift/common/middleware/s3api/controllers/object_lock.py
  swift/common/middleware/s3api/controllers/s3_acl.py
  swift/common/middleware/s3api/controllers/service.py
  swift/common/middleware/s3api/controllers/tagging.py
  swift/common/middleware/s3api/controllers/versioning.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/s3api/s3response.py
  test/unit/common/middleware/s3api/test_acl_handlers.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Validate object POST Content-Type-Timestamp before diskfile access
  swift/obj/server.py
  test/unit/obj/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3
