Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$

Use bigger GreenPool for concurrent EC
  swift/proxy/controllers/obj.py
  test/unit/__init__.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Pass thread_locals through to frag queue feeder
  swift/proxy/controllers/obj.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Fix swift-dispersion-populate
  bin/swift-dispersion-populate
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fail short reads in SegmentedIterable
  swift/common/request_helpers.py
  test/unit/common/middleware/test_dlo.py
  test/unit/common/middleware/test_slo.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

ec: Add an option to write fragments with legacy crc
  etc/object-server.conf-sample
  etc/proxy-server.conf-sample
  swift/obj/reconstructor.py
  swift/proxy/server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Test proxy-server.conf-sample
  swift/common/wsgi.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

docs: Switching to /srv/www from /var/www to be more FHS 3.0 conformat
  doc/source/apache_deployment_guide.rst
Due: none

Clean up apache deployment docs
  doc/source/apache_deployment_guide.rst
Due: none

Log storage policy with s3api requests
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/__init__.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/test_symlink.py
  test/unit/common/test_internal_client.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

wsgi: Ensure _response_headers is a list
  swift/common/wsgi.py
  test/unit/common/test_wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Authors/ChangeLog for 2.25.1
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_25_1_release-a018fda22052deeb.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

ChangeLog for 2.23.2
  CHANGELOG
  releasenotes/notes/2_23_2_release-03f1cc3f2e28c7b3.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

New proxy logging field for wire status
  doc/source/logs.rst
  swift/common/middleware/proxy_logging.py
  swift/common/middleware/versioned_writes/object_versioning.py
  swift/common/utils.py
  swift/proxy/controllers/obj.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/test_proxy_logging.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  swift/locale/de/LC_MESSAGES/swift.po
  swift/locale/en_GB/LC_MESSAGES/swift.po
  swift/locale/es/LC_MESSAGES/swift.po
  swift/locale/fr/LC_MESSAGES/swift.po
  swift/locale/it/LC_MESSAGES/swift.po
  swift/locale/ja/LC_MESSAGES/swift.po
  swift/locale/ko_KR/LC_MESSAGES/swift.po
  swift/locale/pt_BR/LC_MESSAGES/swift.po
  swift/locale/ru/LC_MESSAGES/swift.po
  swift/locale/tr_TR/LC_MESSAGES/swift.po
  swift/locale/zh_CN/LC_MESSAGES/swift.po
  swift/locale/zh_TW/LC_MESSAGES/swift.po
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix a race condition in case of cross-replication
  swift/common/exceptions.py
  swift/obj/diskfile.py
  swift/obj/reconstructor.py
  swift/obj/replicator.py
  swift/obj/ssync_receiver.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_reconstructor.py
  test/unit/obj/test_ssync_receiver.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Clarify some object-updater settings
  etc/object-server.conf-sample
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade

Get unit tests passing on py39
  swift/common/ring/ring.py
  test/unit/common/test_manager.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add tasks_per_second option to expirer
  etc/object-expirer.conf-sample
  etc/object-server.conf-sample
  swift/obj/expirer.py
  test/unit/obj/test_expirer.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Remove the unused coding style modules
  lower-constraints.txt
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add a slightly more-useful repr for DiskFiles
  swift/obj/diskfile.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Do not require the close method for response iterator
  swift/common/middleware/proxy_logging.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Replace FakeLogger with debug_logger in test_proxy_logging
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

saio: Stop processes more forcefully in resetswift
  doc/saio/bin/resetswift
Due: swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7

Add librsvg2-* to bindep.txt
  bindep.txt
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Move config option documentation to separate docs
  doc/source/config/account_server_config.rst
  doc/source/config/container_server_config.rst
  doc/source/config/index.rst
  doc/source/config/object_server_config.rst
  doc/source/config/proxy_server_config.rst
  doc/source/config/swift_common_config.rst
  doc/source/deployment_guide.rst
  doc/source/index.rst
Due: none

Continue logging deprecation warnings for run_pause
  swift/common/db_replicator.py
  swift/obj/reconstructor.py
  swift/obj/replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

memcache: Make error-limiting values configurable
  etc/memcache.conf-sample
  etc/proxy-server.conf-sample
  swift/common/memcached.py
  swift/common/middleware/memcache.py
  test/unit/common/middleware/test_memcache.py
  test/unit/common/test_memcached.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Increase container_update_timeout in in-process func tests
  test/functional/__init__.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Increase container-update timeouts for rolling upgrade jobs
  tools/playbooks/multinode_setup/make_rings.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use swiftclient Connections in sharding probe tests
  test/probe/test_sharder.py
Due: swift-probetests-centos-7, openstack-tox-pep8

gate: Add victoria rolling upgrade job
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add a new URL parameter to allow for async cleanup of SLO segments
  doc/saio/swift/proxy-server.conf
  etc/proxy-server.conf-sample
  swift/cli/container_deleter.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/slo.py
  swift/common/utils.py
  swift/obj/expirer.py
  test/probe/test_object_expirer.py
  test/unit/cli/test_container_deleter.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/test_slo.py
  test/unit/common/test_utils.py
  test/unit/obj/test_expirer.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Dep's should be restricted by upper-constraints
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use socket_timeout kwarg instead of useless eventlet.wsgi.WRITE_TIMEOUT
  etc/object-server.conf-sample
  etc/proxy-server.conf-sample
  swift/common/wsgi.py
  swift/obj/server.py
  test/functional/__init__.py
  test/unit/common/test_wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py2: Suppress more CryptographyDeprecationWarnings
  swift/__init__.py
  test/__init__.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade
