Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$

s3api: Block ETag header from CompleteMultipartUpload requests
  swift/common/middleware/s3api/controllers/multi_upload.py
  test/unit/common/middleware/s3api/helpers.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Increase max body size for Delete Multiple Objects requests
  swift/common/middleware/s3api/controllers/multi_delete.py
  test/functional/s3api/test_multi_delete.py
  test/unit/common/middleware/s3api/test_multi_delete.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Unquote URL before using splited parts.
  swift/common/middleware/s3api/s3token.py
  test/unit/common/middleware/s3api/test_s3token.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

fix documentation of default
  doc/manpages/proxy-server.conf.5
Due: openstack-tox-pep8

s3api: Delete multipart uploads via multi-delete
  swift/common/middleware/s3api/controllers/multi_delete.py
  test/functional/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_multi_delete.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Verify client input for v4 signatures
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix incorrect setting of symlink_target_account
  swift/common/middleware/symlink.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

encryption: Stop being cutesy with os.path.join()
  swift/common/middleware/crypto/keymaster.py
  test/unit/common/middleware/crypto/test_encryption.py
  test/unit/common/middleware/crypto/test_keymaster.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix decryption for broken objects
  swift/common/middleware/crypto/keymaster.py
  test/unit/common/middleware/crypto/test_keymaster.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix socket leak on object-server death
  swift/common/exceptions.py
  swift/proxy/controllers/base.py
  test/unit/__init__.py
  test/unit/proxy/test_mem_server.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

container-replicator: Add a timeout for get_shard_ranges
  swift/common/db_replicator.py
  swift/container/replicator.py
  test/unit/container/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

sharding: better handle get_shard_ranges failures
  swift/container/replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fixing target for cross-ref 'get_data_dir'
  doc/source/overview_policies.rst
Due: none

Fixing broken links
  doc/source/admin/objectstorage-monitoring.rst
  doc/source/admin_guide.rst
  doc/source/first_contribution_swift.rst
Due: none

dlo: Respond 200 on multi-range GETs
  swift/common/middleware/dlo.py
  test/functional/test_dlo.py
  test/unit/common/middleware/test_dlo.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

reconciler: Enqueue right work for shard containers
  swift/container/reconciler.py
  test/unit/container/test_replicator.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Remove invalid dict entries from hashes.pkl
  swift/obj/diskfile.py
  test/unit/obj/test_diskfile.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix quarantine when object path is not a directory
  swift/obj/diskfile.py
  test/unit/obj/test_diskfile.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

versioned_writes: checks for SLO object before copy
  swift/common/middleware/versioned_writes.py
  test/functional/test_versioned_writes.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

slo: Better handle non-manifest responses when refetching manifest
  swift/common/middleware/slo.py
  test/unit/common/middleware/test_slo.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add option for debug query logging
  etc/account-server.conf-sample
  etc/container-server.conf-sample
  swift/account/server.py
  swift/common/db.py
  swift/common/db_replicator.py
  swift/container/server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Refactor timestamp iter in db backend tests
  test/unit/account/test_auditor.py
  test/unit/account/test_backend.py
  test/unit/common/test_db.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

use request_helpers import namespace for tests
  test/unit/common/test_request_helpers.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

exclude utf8 tests under py3
  test/probe/test_reconstructor_rebuild.py
Due: swift-probetests-centos-7, openstack-tox-pep8

pin lower-constraints to run against python 2.7
  .zuul.yaml
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Tweak Swift AIO docs, update CentOS and Fedora
  doc/source/development_saio.rst
Due: none

Fix misleading error msg if swift.conf unreadable
  swift/common/utils.py
  test/unit/common/ring/test_ring.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make our py2 func tests more explicitly py2
  .zuul.yaml
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Only url-quote Keys when encoding-type=url
  swift/common/middleware/s3api/controllers/bucket.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/etree.py
  test/unit/common/middleware/s3api/test_bucket.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix stable gate
  .zuul.yaml
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Authors/changelog for 2.21.1
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_21_1_release-17495ac2786ba682.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

Fix bug internal client's delete_object logs 499
  swift/common/internal_client.py
  test/unit/common/test_internal_client.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Get rid of _delete_db
  swift/account/backend.py
  swift/common/db.py
  swift/container/backend.py
  test/unit/common/test_db.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Erase object header if we fail to register it to the index-server
  swift/obj/header.py
  swift/obj/vfile.py
  test/unit/obj/test_vfile.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add delete_account in InternalClient
  swift/common/internal_client.py
  test/unit/common/test_internal_client.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade
