Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    tox_environment:
      NOSE_COVER_HTML: 1
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36
  ...

swift-tox-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  ...

swift-tox-py38:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func

swift-tox-func-encryption-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

swift-tox-func-ec-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-ec`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-ec

swift-probetests-centos-8:
  parent: swift-probetests-centos-7
  nodeset: centos-8
  description: 'Setup a SAIO dev environment and run Swift''s probe tests
  
    under Python 3.
  
    '
  vars:
    bindep_profile: test py36

Remove legacy bin/ scripts
  README.rst
  bin/swift-account-audit
  bin/swift-account-auditor
  bin/swift-account-info
  bin/swift-account-reaper
  bin/swift-account-replicator
  bin/swift-account-server
  bin/swift-config
  bin/swift-container-auditor
  bin/swift-container-info
  bin/swift-container-reconciler
  bin/swift-container-replicator
  bin/swift-container-server
  bin/swift-container-sharder
  bin/swift-container-sync
  bin/swift-container-updater
  bin/swift-dispersion-populate
  bin/swift-dispersion-report
  bin/swift-drive-audit
  bin/swift-form-signature
  bin/swift-get-nodes
  bin/swift-init
  bin/swift-object-auditor
  bin/swift-object-expirer
  bin/swift-object-info
  bin/swift-object-reconstructor
  bin/swift-object-relinker
  bin/swift-object-replicator
  bin/swift-object-server
  bin/swift-object-updater
  bin/swift-oldies
  bin/swift-orphans
  bin/swift-proxy-server
  bin/swift-recon
  bin/swift-recon-cron
  bin/swift-reconciler-enqueue
  bin/swift-ring-builder
  bin/swift-ring-builder-analyzer
  bin/swift-ring-composer
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

CI: Move off CentOS 8
  .zuul.yaml
  tools/playbooks/common/install_dependencies.yaml
  tools/playbooks/cors/install_selenium.yaml
  tools/test-setup.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: don't mutate and re-use Response headers
  test/unit/common/middleware/test_account_quotas.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Move utils/logs.py related tests out of test_utils
  test/unit/common/test_utils.py
  test/unit/common/utils/test_logs.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

FakeStatsdClient: Stop issuing DNS calls for host.
  test/debug_logger.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Setup proxy object GET and HEAD tests correctly
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

sharder: rename state to db_state when it's the DB state
  swift/container/backend.py
  swift/container/sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Improve test coverage for proxy object DELETE and POST
  test/unit/__init__.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Ignore 404s from handoffs when choosing response code
  swift/proxy/controllers/base.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Fix proxy logging api version
  swift/common/middleware/proxy_logging.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

docs: Simplify reload-process-tree SVGs
  doc/source/images/reload_process_tree_1.svg
  doc/source/images/reload_process_tree_2.svg
  doc/source/images/reload_process_tree_3.svg
  doc/source/images/reload_process_tree_4.svg
  doc/source/images/reload_process_tree_5.svg
  doc/source/images/reload_process_tree_6.svg
Due: none

common: Stop translating log messages
  swift/common/db_auditor.py
  swift/common/middleware/catch_errors.py
  swift/common/middleware/cname_lookup.py
  swift/common/middleware/crypto/crypto_utils.py
  swift/common/middleware/crypto/decrypter.py
  swift/common/middleware/ratelimit.py
  swift/common/middleware/recon.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

common: Stop translating a bunch of printed messages and exceptions
  swift/common/middleware/x_profile/exceptions.py
  swift/common/middleware/x_profile/html_viewer.py
  swift/common/middleware/x_profile/profile_model.py
  swift/common/middleware/xprofile.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Attempt to use configured tmp in xprofile tests
  test/unit/common/middleware/test_xprofile.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

obj: Have handoff_delete reduce replication to handoffs
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

diskfile: Treat EUCLEAN like ENODATA
  swift/obj/diskfile.py
  swift/obj/replicator.py
  test/unit/obj/test_diskfile.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add Chinemerem to AUTHORS
  AUTHORS
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

s3api: Clean up some errors
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/s3api/s3response.py
  test/s3api/__init__.py
  test/s3api/test_input_errors.py
  test/unit/common/middleware/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

account_quota: migrate quota_bytes and quota_count to the sysmeta namespace
  swift/common/middleware/account_quotas.py
  test/functional/test_account.py
  test/unit/common/middleware/test_account_quotas.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

account_quotas: Fix X-Remove-Account-Quota-Bytes-Policy-<name>
  swift/common/middleware/account_quotas.py
  test/functional/test_account.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Functionally test account quotas
  test/functional/__init__.py
  test/functional/test_account.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy-logging: Clean up some timing assertions
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

utils: paths with empty components are invalid
  swift/common/utils/base.py
  test/functional/__init__.py
  test/functional/test_protocol.py
  test/unit/common/middleware/test_proxy_logging.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

trivial: Use already-parsed a/c/o
  swift/common/middleware/proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

functest: add checks for quota count API
  test/functional/test_account.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

CI: use private IPs for multinode tests
  tools/playbooks/multinode_setup/make_rings.yaml
  tools/playbooks/multinode_setup/templates/make_multinode_rings.j2
  tools/playbooks/multinode_setup/templates/test.conf.j2
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

object-expirer: fix unused _make_internal_client arg
  swift/obj/expirer.py
  test/unit/obj/test_expirer.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Shorten MPU upload-ids
  swift/common/utils/__init__.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

AUTHORS/CHANGELOG for 2.34.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/release-2.34.0-2136ae35f56f8b5a.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

CI: Bump up ARM timeouts
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Update .gitreview for stable/2024.2
  .gitreview
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

CI: Include --domain in more openstack commands
  roles/additional-keystone-users/tasks/main.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

manage py36 constraints for swift
  py36-constraints.txt
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Quiten boto logging in func tests
  test/functional/s3api/__init__.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make object-expirer respect internal_client_conf_path
  swift/obj/expirer.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

trivial: remove print from functional tests
  test/functional/test_tempurl.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-8: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
