Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

swift-dsvm-functional:
  parent: devstack-minimal
  description: 'Setup a Swift/Keystone environment and run Swift''s func tests
  
    '
  required-projects:
  - git.openstack.org/openstack/requirements
  - git.openstack.org/openstack/swift
  - git.openstack.org/openstack/keystone
  timeout: 2700
  vars:
  ...

Use remote frag index to calculate suffix diff
  swift/obj/reconstructor.py
  test/unit/obj/test_reconstructor.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Save original index in the determine_chunk_destinations test
  test/unit/proxy/controllers/test_obj.py
Due: swift-dsvm-functional

misc test cleanup
  test/unit/obj/test_reconstructor.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-dsvm-functional

Remove duplicate statement
  test/unit/common/test_utils.py
Due: swift-dsvm-functional

Python3: Fix test/unit/common/test_container_sync_realms.py
  swift/common/container_sync_realms.py
  test/unit/common/test_container_sync_realms.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Quiet down a unittest
  test/unit/obj/test_ssync.py
Due: swift-dsvm-functional

Change how O_TMPFILE support is detected
  swift/common/utils.py
  swift/obj/diskfile.py
  test/unit/__init__.py
  test/unit/common/test_utils.py
  test/unit/obj/test_diskfile.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix socket leak on object-server death
  swift/common/exceptions.py
  swift/proxy/controllers/base.py
  test/unit/__init__.py
  test/unit/proxy/test_mem_server.py
  test/unit/proxy/test_server.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: proxy some logger properties in LogAdapter
  swift/common/utils.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Python3: fix test/unit/obj/test_replicator.py
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

s3api: fix up flakey LastModified assertions
  test/unit/common/middleware/s3api/test_obj.py
Due: swift-dsvm-functional

docs: clean up Object Versioning page
  swift/common/middleware/versioned_writes.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

sharding: Make replicator logging less scary
  swift/container/replicator.py
  test/probe/test_sharder.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Move KMIP conf validation out of _get_root_secret
  swift/common/middleware/crypto/kmip_keymaster.py
  test/unit/common/middleware/crypto/test_kmip_keymaster.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

probetests: make negative assertion more meaningful
  test/probe/test_replication_servers_working.py
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix flakey func test setup
  test/functional/test_container.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix flakey func test teardown
  test/functional/test_container.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

func tests: Be willing to retry PUTs
  test/functional/swift_test_client.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3 object-server follow-ups
  swift/obj/server.py
  test/unit/__init__.py
  test/unit/obj/test_server.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Cleanup EC and SSYNC frag index parameters
  swift/obj/reconstructor.py
  swift/obj/server.py
  swift/obj/ssync_receiver.py
  swift/obj/ssync_sender.py
  test/unit/obj/test_reconstructor.py
  test/unit/obj/test_ssync.py
  test/unit/obj/test_ssync_receiver.py
  test/unit/obj/test_ssync_sender.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix flakey symlink setup/teardown
  test/functional/test_symlink.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Return 503 when account auto-create fails
  swift/proxy/controllers/container.py
  test/unit/proxy/test_server.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add content-encoding parameter to formpost middleware
  swift/common/middleware/formpost.py
  test/unit/common/middleware/test_formpost.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: port object controller in proxy
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/unit/__init__.py
  test/unit/proxy/controllers/test_obj.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Consolidate retry code in functest client
  test/functional/swift_test_client.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

encryption: Stop being cutesy with os.path.join()
  swift/common/middleware/crypto/keymaster.py
  test/unit/common/middleware/crypto/test_encryption.py
  test/unit/common/middleware/crypto/test_keymaster.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: adapt proxy base controller
  swift/proxy/controllers/base.py
  test/unit/proxy/controllers/test_base.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update .gitreview for feature/losf
  .gitreview
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Stop using duplicate dev IDs in write_fake_ring
  test/unit/__init__.py
Due: swift-dsvm-functional

Rebuild frags for unmounted disks
  etc/object-server.conf-sample
  swift/common/ring/ring.py
  swift/obj/reconstructor.py
  test/probe/test_reconstructor_rebuild.py
  test/unit/__init__.py
  test/unit/common/ring/test_ring.py
  test/unit/obj/test_reconstructor.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Display crypto data/metadata details in swift-object-info
  swift/cli/info.py
  swift/common/middleware/crypto/crypto_utils.py
  test/unit/cli/test_info.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Increase node_timeout in gate
  test/probe/common.py
  test/probe/test_container_failures.py
  tools/playbooks/multinode_setup/make_rings.yaml
  tools/playbooks/saio_single_node_setup/setup_saio.yaml
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Leave less garbage in /var/tmp
  test/unit/common/test_db_replicator.py
  test/unit/container/test_backend.py
Due: swift-dsvm-functional

Fix decryption for broken objects
  swift/common/middleware/crypto/keymaster.py
  test/unit/common/middleware/crypto/test_keymaster.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make get_data/async/tmp_dir explicit
  swift/obj/diskfile.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fixing target for cross-ref 'get_data_dir'
  doc/source/overview_policies.rst
Due: none

ocata stable backports
  CHANGELOG
  releasenotes/notes/2_13_2_release-3817911a19815405.yaml
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

pike stable backports
  CHANGELOG
  releasenotes/notes/2_15_2_release-6996eccabba558b4.yaml
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

changelog for queens backports
  CHANGELOG
  releasenotes/notes/2_17_1_release-dd6e6879cbb94f85.yaml
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

rocky stable backports
  CHANGELOG
  releasenotes/notes/2_19_1_release-5072dd72557f5708.yaml
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
