Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    tox_environment:
      NOSE_COVER_HTML: 1
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36
  ...

swift-tox-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  ...

swift-tox-py38:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func

swift-tox-func-encryption-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

swift-tox-func-ec-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-ec`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-ec

swift-probetests-centos-8:
  parent: swift-probetests-centos-7
  nodeset: centos-8
  description: 'Setup a SAIO dev environment and run Swift''s probe tests
  
    under Python 3.
  
    '
  vars:
    bindep_profile: test py36

Deprecate expirer options
  doc/manpages/object-expirer.conf.5
  doc/manpages/object-server.conf.5
  doc/manpages/proxy-server.conf.5
  doc/source/config/object_server_config.rst
  doc/source/config/proxy_server_config.rst
  etc/object-expirer.conf-sample
  etc/object-server.conf-sample
  etc/proxy-server.conf-sample
  swift/common/middleware/slo.py
  swift/common/utils/__init__.py
  swift/obj/expirer.py
  swift/obj/server.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/unit/common/middleware/test_slo.py
  test/unit/common/test_utils.py
  test/unit/obj/test_expirer.py
  test/unit/obj/test_server.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Tighten up encrypter tests re. request footers
  test/unit/common/middleware/crypto/test_encrypter.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/test_obj.py
  test/unit/common/middleware/test_helpers.py
  test/unit/common/middleware/test_object_versioning.py
  test/unit/common/middleware/test_slo.py
  test/unit/common/middleware/test_symlink.py
  test/unit/common/middleware/test_versioned_writes.py
  test/unit/common/test_internal_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Migrate encrypter tests to assert FakeSwiftCall attributes
  test/unit/common/middleware/crypto/test_encrypter.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Remove some dead code for older pythons
  swift/__init__.py
  swift/common/utils/logs.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove last vestiges of translations
  swift/__init__.py
  swift/locale/de/LC_MESSAGES/swift.po
  swift/locale/en_GB/LC_MESSAGES/swift.po
  swift/locale/es/LC_MESSAGES/swift.po
  swift/locale/fr/LC_MESSAGES/swift.po
  swift/locale/it/LC_MESSAGES/swift.po
  swift/locale/ja/LC_MESSAGES/swift.po
  swift/locale/ko_KR/LC_MESSAGES/swift.po
  swift/locale/pt_BR/LC_MESSAGES/swift.po
  swift/locale/ru/LC_MESSAGES/swift.po
  swift/locale/tr_TR/LC_MESSAGES/swift.po
  swift/locale/zh_CN/LC_MESSAGES/swift.po
  swift/locale/zh_TW/LC_MESSAGES/swift.po
  test/unit/common/middleware/test_xprofile.py
  test/unit/test_locale/README
  test/unit/test_locale/__init__.py
  test/unit/test_locale/eo.po
  test/unit/test_locale/eo/LC_MESSAGES/swift.mo
  test/unit/test_locale/messages.mo
  test/unit/test_locale/test_locale.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

FakeSwift: more encapsulation of request properties
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/test_helpers.py
  test/unit/common/middleware/test_slo.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add NotificationServer to fix swift-reload
  swift/cli/reload.py
  swift/common/utils/__init__.py
  test/unit/cli/test_reload.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Add unknown-policy container to account test
  swift/account/backend.py
  swift/account/reaper.py
  swift/account/utils.py
  test/unit/account/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Use subTest
  lower-constraints.txt
  test-requirements.txt
  test/__init__.py
  test/probe/test_reconstructor_rebuild.py
  test/probe/test_sharder.py
  test/unit/common/utils/test_config.py
  test/unit/container/test_backend.py
  test/unit/container/test_replicator.py
  test/unit/container/test_server.py
  test/unit/container/test_sharder.py
  test/unit/obj/test_reconstructor.py
  test/unit/proxy/controllers/test_container.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Stop requiring Content-MD5 for multi-deletes
  py3-constraints.txt
  swift/common/middleware/s3api/controllers/multi_delete.py
  test/unit/common/middleware/s3api/test_multi_delete.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

refactor test for x-delete-at w/t part_num and x-open-expired
  test/functional/test_slo.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Allow more configuration for S3 cross-compat tests
  test/s3api/__init__.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Simplify test bucket name
  test/s3api/__init__.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Simplify HashingInput signature
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Remove a couple more py2 code paths
  test/__init__.py
  test/functional/swift_test_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: More simplification of s3api test bucket naming
  test/s3api/test_mpu.py
  test/s3api/test_request_target_style.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

slo_test: make x-delete-after consistent in func test
  test/functional/test_slo.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Ensure correct content-type in container HEAD response
  swift/common/middleware/listing_formats.py
  test/functional/test_account.py
  test/functional/test_container.py
  test/unit/common/middleware/test_listing_formats.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Refactor some file-like iters as utils.InputProxy subclasses
  swift/common/middleware/crypto/encrypter.py
  swift/common/middleware/formpost.py
  swift/common/middleware/s3api/s3request.py
  swift/common/utils/__init__.py
  test/unit/common/middleware/s3api/test_s3request.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

linkat: Raise error if we run out of retries
  swift/common/utils/__init__.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

py3: Fix unicode-header-name handling in bufferedhttp
  swift/common/bufferedhttp.py
  test/probe/test_reconstructor_rebuild.py
  test/unit/common/test_bufferedhttp.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Stop using cgi.parse_header
  swift/common/middleware/crypto/crypto_utils.py
  swift/common/middleware/s3api/s3api.py
  swift/common/middleware/slo.py
  swift/common/middleware/symlink.py
  swift/common/middleware/versioned_writes/object_versioning.py
  swift/common/utils/__init__.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove __future__ imports
  swift/cli/account_audit.py
  swift/cli/config.py
  swift/cli/dispersion_populate.py
  swift/cli/dispersion_report.py
  swift/cli/form_signature.py
  swift/cli/info.py
  swift/cli/manage_shard_ranges.py
  swift/cli/orphans.py
  swift/cli/recon.py
  swift/cli/reload.py
  swift/cli/ringbuilder.py
  swift/cli/ringcomposer.py
  swift/common/manager.py
  swift/common/middleware/tempauth.py
  swift/common/utils/__init__.py
  swift/common/utils/logs.py
  swift/common/wsgi.py
  swift/container/updater.py
  test/__init__.py
  test/functional/__init__.py
  test/probe/brain.py
  test/probe/common.py
  test/probe/test_object_handoff.py
  test/unit/__init__.py
  test/unit/common/test_db_replicator.py
  test/unit/common/test_manager.py
  test/unit/common/test_utils.py
  test/unit/common/utils/test_logs.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Allow configuring normalized_urls = false
  test/functional/__init__.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Reference test.functional.normalized_urls directly
  test/functional/tests.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Fix keystoneclient import
  test/functional/test_access_control.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

cors-tests: Default S3_ENDPOINT sensibly
  test/cors/main.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Remove notes about new-style classes
  swift/common/http_protocol.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Fix FakeSwiftCall partial env copy for None values
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/test_helpers.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Make FakeSwiftCall.DUMMY_VALUE a bespoke singleton
  test/unit/common/middleware/helpers.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

AUTHORS/CHANGELOG for 2.35.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/release-2.35.0-bb2736e6cbc4a520.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Clarify that get_ppid is Linux-only
  swift/common/utils/__init__.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Update .gitreview for stable/2025.1
  .gitreview
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

stats: API for native labeled metrics
  doc/source/admin_guide.rst
  doc/source/metrics/labels.rst
  etc/proxy-server.conf-sample
  swift/common/statsd_client.py
  test/debug_logger.py
  test/unit/common/test_statsd_client.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove deprecated statsd label_mode
  doc/source/metrics/labels.rst
  etc/proxy-server.conf-sample
  swift/common/statsd_client.py
  test/unit/common/test_statsd_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: provide FakeLabeledStatsdClient for debug
  test/debug_logger.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy_logging: remove unnecessary condition
  swift/common/middleware/proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-8: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
