Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

swift-tox-func-py39-centos-9-stream-fips:
  parent: swift-tox-func-py39-centos-9-stream
  voting: false
  description: 'Functional testing on a FIPS enabled Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-tox-func-encryption-py39-centos-9-stream-fips:
  parent: swift-tox-func-encryption-py39-centos-9-stream
  voting: false
  description: 'Functional encryption testing on a FIPS enabled
  
    Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-tox-func-ec-py39-centos-9-stream-fips:
  parent: swift-tox-func-ec-py39-centos-9-stream
  voting: false
  description: 'Functional EC testing on a FIPS enabled Centos 9 system
  
    '
  vars:
    nslookup_target: opendev.org
    enable_fips: true

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    bindep_profile: test py27
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  ansible-version: 9
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
  ...

swift-tox-py39:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.9.
  
  
    Uses tox with the ``py39`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py39
    bindep_profile: test py39
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func
    bindep_profile: test py27
  ...

swift-tox-func-encryption-py27:
  parent: swift-tox-func-py27
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

grenade:
  voting: false

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

cleaning up and fixing some links
  CONTRIBUTING.rst
  doc/source/contributor/contributing.rst
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-func-cors, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

tests: simplify TestGlobalSetupObjectReconstructor setUp
  test/unit/obj/test_reconstructor.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test: fix module state pollution
  test/unit/obj/test_diskfile.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test: do not create timestamp collision unnecessarily
  test/unit/obj/test_auditor.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

add Christian O to AUTHORS
  .mailmap
  AUTHORS
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

mpu: more compat tests
  test/s3api/test_mpu.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

common: add memcached based cooperative token mechanism.
  swift/common/utils/__init__.py
  test/debug_logger.py
  test/unit/__init__.py
  test/unit/common/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

account-broker: add resilient path property with lazy cache
  swift/account/backend.py
  test/unit/account/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

proxy: use cooperative tokens to coalesce updating shard range requests into backend
  etc/proxy-server.conf-sample
  swift/common/utils/__init__.py
  swift/common/utils/config.py
  swift/proxy/controllers/base.py
  swift/proxy/controllers/container.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/unit/common/utils/test_config.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

changes for 2024.2-m3
  Dockerfile-sap
  docker-sap/bin/rsyncd-start
  docker-sap/bin/swift-start
  docker-sap/bin/unmount-helper
  docker-sap/build.sh
  docker-sap/keystonemiddleware-no-service-catalog-header.patch
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Adds --skip-commits to s-m-s-r
  swift/cli/manage_shard_ranges.py
  test/unit/cli/test_manage_shard_ranges.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

doc: specify seconds in proxy-server.conf-sample
  etc/proxy-server.conf-sample
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

test: move import to top of file
  test/unit/proxy/controllers/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

docs: More proxy-server.conf-sample cleanup
  etc/proxy-server.conf-sample
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Assert metadata of SLO PUT from container sync
  test/unit/common/middleware/test_slo.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Test each method in test_crossdomain_get_only
  test/unit/common/middleware/test_crossdomain.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test: fix AccountBroker.path tests
  test/unit/account/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

trivial: reorder AccountBroker.path methods
  swift/account/backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Fix swift_dir setting in WSGI servers
  .mailmap
  swift/common/wsgi.py
  test/unit/common/test_wsgi.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: use object event history to detect orphans
  swift/common/middleware/mpu.py
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/slo.py
  swift/common/middleware/versioned_writes/object_versioning.py
  swift/common/object_ref.py
  swift/common/request_helpers.py
  swift/common/utils/timestamp.py
  swift/container/mpu_auditor.py
  swift/obj/server.py
  swift/proxy/controllers/obj.py
  test/functional/test_mpu.py
  test/functional/test_object_versioning.py
  test/probe/common.py
  test/probe/test_mpu.py
  test/probe/test_object_async_update.py
  test/probe/test_object_expirer.py
  test/probe/test_object_versioning.py
  test/probe/test_replication_servers_working.py
  test/probe/test_sharder.py
  test/s3api/test_mpu.py
  test/s3api/test_versioning.py
  test/unit/common/middleware/helpers.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/test_helpers.py
  test/unit/common/middleware/test_mpu.py
  test/unit/common/middleware/test_object_versioning.py
  test/unit/common/test_object_ref.py
  test/unit/common/test_request_helpers.py
  test/unit/common/test_swob.py
  test/unit/container/test_mpu_auditor.py
  test/unit/obj/test_server.py
  test/unit/proxy/controllers/test_obj.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

common.db_replicator: log container, db paths consistently
  swift/common/db_replicator.py
  swift/container/replicator.py
  swift/container/sharder.py
  test/unit/account/test_replicator.py
  test/unit/common/test_db_replicator.py
  test/unit/container/test_replicator.py
  test/unit/container/test_sharder.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

relinker: allow clobber-hardlink-collision
  etc/object-server.conf-sample
  swift/cli/relinker.py
  test/unit/cli/test_relinker.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

trivial test_[db_]replicator cleanup
  test/unit/common/test_db_replicator.py
  test/unit/container/test_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

test-db-replicator (trivial): just one tmpdir
  test/unit/common/test_db_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

Provide some s3 helper methods for other middlewares to use.
  swift/common/middleware/s3api/exception.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/s3api/utils.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_utils.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

InternalClient: support passing headers to iter_objects
  swift/common/internal_client.py
  test/unit/common/test_internal_client.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

mpu: refactor-only: merge container db rows without mutating
  swift/container/backend.py
  test/unit/container/test_backend.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Move Pete Zaitcev to Core Emeritus
  AUTHORS
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-lower-constraints, openstack-tox-pep8, swift-upload-image, swift-upload-image-py3

Update resource type in labels.html
  doc/source/metrics/labels.rst
Due: none

tests: remove some global patching
  test/unit/common/test_db_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: idiomatic ring patching
  test/unit/common/test_db_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

tests: belts and braces idiomatic patching
  test/unit/container/test_replicator.py
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, swift-upload-image, swift-upload-image-py3

changes for 2024.2
  Dockerfile-sap
  docker-sap/bin/rsyncd-start
  docker-sap/bin/swift-start
  docker-sap/bin/unmount-helper
  docker-sap/build.sh
  docker-sap/keystonemiddleware-no-service-catalog-header.patch
Due: swift-tox-func-py39-centos-9-stream-fips, swift-tox-func-encryption-py39-centos-9-stream-fips, swift-tox-func-ec-py39-centos-9-stream-fips, swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py39, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py38, swift-tox-func-encryption-py38, swift-tox-func-ec-py38, swift-func-cors, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-9-stream, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade, swift-upload-image, swift-upload-image-py3

Path conditions:
  swift-tox-func-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py39-centos-9-stream-fips: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-py39: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-func-cors: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(cors|unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-9-stream: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(cors|unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(cors|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-upload-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-upload-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
