Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$

fix s3api functional tests
  test/functional/__init__.py
  test/functional/s3api/__init__.py
  test/functional/s3api/s3_test_client.py
  test/functional/s3api/test_acl.py
  test/functional/s3api/test_bucket.py
  test/functional/s3api/test_multi_delete.py
  test/functional/s3api/test_multi_upload.py
  test/functional/s3api/test_object.py
  test/functional/s3api/test_service.py
  test/sample.conf
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Fix prefix/delimiter/marker quoting
  doc/s3api/conf/ceph-known-failures-tempauth.yaml
  swift/common/middleware/s3api/controllers/bucket.py
  test/functional/s3api/test_bucket.py
  test/unit/common/middleware/s3api/test_bucket.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

ratelimit: Log proper container path when returning 498 for listings
  swift/common/middleware/ratelimit.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

ratelimit: Allow multiple placements
  etc/proxy-server.conf-sample
  swift/common/middleware/ratelimit.py
  test/unit/common/middleware/test_ratelimit.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Bump up timeouts for DSVM and probe test jobs
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add py38 package metadata
  setup.cfg
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Breakup reclaim into batches
  swift/common/db.py
  swift/container/backend.py
  test/unit/account/test_backend.py
  test/unit/common/test_db.py
  test/unit/container/test_backend.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

swift-dsvm: Enable s3api
  roles/additional-keystone-users/tasks/main.yaml
  roles/dsvm-additional-middlewares/tasks/main.yaml
  test/functional/s3api/test_bucket.py
  tools/playbooks/dsvm/pre.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Test for Versioned Object If-Match
  test/functional/test_object_versioning.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

versioning: Have versioning symlinks make pre-auth requests to reserved container
  swift/common/middleware/symlink.py
  test/functional/test_object_versioning.py
  test/unit/common/middleware/test_symlink.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

dsvm: Run domain_remap tests with tempauth
  roles/dsvm-additional-middlewares/tasks/main.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

dsvm: Run service-user tests under tempauth
  roles/additional-tempauth-users/tasks/main.yaml
  tools/playbooks/dsvm/pre.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Ussuri contrib docs community goal
  CONTRIBUTING.rst
  REVIEW_GUIDELINES.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/review_guidelines.rst
  doc/source/index.rst
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Skip tests when only changing README.rst, CONTRIBUTING.rst, etc.
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

dsvm: Use devstack's s3api "service"
  .zuul.yaml
  roles/dsvm-additional-middlewares/tasks/main.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Simplify wsgify()
  swift/common/swob.py
  test/unit/common/test_swob.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Remove swift-dsvm-functional-py3 job
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Skip s3api copy-version test when OV not enabled
  test/functional/s3api/test_multi_upload.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

obj: _finalize_durable may succeed even when data file is missing (LOSF)
  swift/obj/kvfile.py
  swift/obj/vfile.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

dsvm: Run service-user tests under keystoneauth
  roles/additional-keystone-users/tasks/main.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Latch shard-stat reporting
  swift/common/utils.py
  swift/container/backend.py
  swift/container/sharder.py
  test/unit/cli/test_manage_shard_ranges.py
  test/unit/common/test_utils.py
  test/unit/container/test_backend.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Better functest quarantine cleanup
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

func tests: work with etag-quoter on by default
  test/functional/__init__.py
  test/functional/test_object.py
  test/functional/test_object_versioning.py
  test/functional/test_slo.py
  test/functional/test_symlink.py
  test/functional/test_versioned_writes.py
  test/functional/tests.py
  test/probe/test_object_async_update.py
  test/probe/test_object_metadata_replication.py
Due: swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Enable s3api and staticweb tests across all func tests
  .zuul.yaml
  doc/saio/swift/proxy-server.conf
  test/functional/__init__.py
  tox.ini
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

docs: s3api doesn't support tagging
  doc/source/s3_compat.rst
Due: none

Remove <py3.5 dependencies from requirements.txt
  doc/requirements.txt
  requirements.txt
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Don't auto-create shard containers
  swift/container/server.py
  swift/container/sharder.py
  test/unit/container/test_server.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Quiet eventlet exceptions in test
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Bump up timeout for unit and in-process func tests
  .zuul.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Remove etag-quoter from 2.25.0 release notes
  CHANGELOG
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-lower-constraints, openstack-tox-pep8

swift-get-nodes: Allow users to specify either quoted or unquoted paths
  bin/swift-get-nodes
  swift/cli/info.py
  test/unit/cli/test_info.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

memcached: Plumb logger into MemcacheRing
  swift/common/memcached.py
  swift/common/middleware/memcache.py
  test/unit/common/test_memcached.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: (Better) fix percentages in configs
  swift/common/utils.py
  swift/common/wsgi.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use ini_file to update timeout instead of crudini
  tools/playbooks/saio_single_node_setup/setup_saio.yaml
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy-logging: Be able to configure log_route
  etc/proxy-server.conf-sample
  swift/common/middleware/proxy_logging.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

s3api: Add basic support for ?tagging requests
  swift/common/middleware/s3api/controllers/__init__.py
  swift/common/middleware/s3api/controllers/tagging.py
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3api.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

py3: Fix expirer container generation
  swift/common/utils.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy: Stop killing memcache entries on 5xx responses
  swift/proxy/controllers/base.py
  test/probe/test_container_failures.py
  test/unit/proxy/controllers/test_account.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_container.py
Due: swift-build-image, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-func, swift-tox-func-py37, swift-tox-func-encryption, swift-tox-func-domain-remap-staticweb, swift-tox-func-ec, swift-tox-func-s3api, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade
