Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-8: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$

tests: add LabeledStatsdClient sample_rate kwarg coverage
  test/unit/common/test_statsd_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Display extra test summary info
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

DRY out AbstractStatsdClient public methods
  swift/common/statsd_client.py
  swift/obj/diskfile.py
  swift/obj/reconstructor.py
  test/debug_logger.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/test_statsd_client.py
  test/unit/common/test_utils.py
  test/unit/container/test_replicator.py
  test/unit/obj/test_reconstructor.py
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Remove BaseFakeStatsdClient.get_increment_counts
  test/debug_logger.py
  test/unit/account/test_auditor.py
  test/unit/account/test_reaper.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/test_backend_ratelimit.py
  test/unit/common/middleware/test_formpost.py
  test/unit/common/middleware/test_tempurl.py
  test/unit/container/test_replicator.py
  test/unit/obj/test_expirer.py
  test/unit/obj/test_updater.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_container.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: rename zuul jobs that test s3api
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add skip reason next to test name in zuul output
  .zuul.yaml
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3request: refactor error handling while reading input
  swift/common/middleware/s3api/s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3request: refactor to introduce SigChecker classes
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: make MPU part error response message same as S3
  swift/common/middleware/s3api/s3response.py
  test/s3api/test_mpu.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Let WSGI know the length
  swift/common/middleware/catch_errors.py
  swift/common/middleware/proxy_logging.py
  swift/common/middleware/s3api/s3response.py
  test/unit/common/middleware/s3api/test_s3response.py
  test/unit/common/middleware/test_catch_errors.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Remove some useless decoding
  swift/common/middleware/s3api/s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Test under py313
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tempauth: Support fernet tokens
  etc/proxy-server.conf-sample
  swift/common/middleware/crypto/keymaster.py
  swift/common/middleware/crypto/kmip_keymaster.py
  swift/common/middleware/crypto/kms_keymaster.py
  swift/common/middleware/tempauth.py
  swift/common/utils/__init__.py
  test/unit/common/middleware/crypto/test_keymaster.py
  test/unit/common/middleware/test_tempauth.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove tags from README
  README.rst
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Fix the inconsistent use of printing errors
  swift/cli/info.py
  swift/cli/manage_shard_ranges.py
  swift/cli/ringbuilder.py
  swift/common/middleware/ratelimit.py
  test/unit/cli/test_info.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Object-server: add labeled timing metrics for object REPLICATE request
  swift/common/utils/__init__.py
  swift/obj/server.py
  test/unit/common/test_utils.py
  test/unit/obj/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

CI: update rolling-upgrade jobs
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Ensure correct content-type in container HEAD response
  swift/common/middleware/listing_formats.py
  test/functional/test_account.py
  test/functional/test_container.py
  test/unit/common/middleware/test_listing_formats.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Implement heartbeat response for COPY request
  swift/common/middleware/bulk.py
  swift/common/middleware/copy.py
  swift/common/middleware/slo.py
  swift/common/request_helpers.py
  test/unit/common/middleware/test_bulk.py
  test/unit/common/middleware/test_copy.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove unused MANIFEST.in
  MANIFEST.in
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

utils: Add CRCHasher and crc32c implementation
  swift/common/utils/checksum.py
  test/unit/__init__.py
  test/unit/common/utils/test_checksum.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add support of Sigv4-streaming
  swift/common/middleware/s3api/exception.py
  swift/common/middleware/s3api/s3request.py
  swift/common/middleware/s3api/s3response.py
  test/functional/s3api/test_object.py
  test/s3api/test_input_errors.py
  test/s3api/test_mpu.py
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_s3api.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Drop support for py36
  .zuul.yaml
  setup.cfg
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add config option for whether to skip s3_acl-requiring tests
  test/s3api/__init__.py
  test/s3api/test_service.py
  test/sample.conf
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

trivial: statsd tests: remove references to delegate methods
  test/unit/common/test_statsd_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

CI: run func tests during rolling upgrade job
  .zuul.yaml
  tools/playbooks/multinode_setup/run.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

CI: Move lower-constraints job to py37
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

add pyproject.toml to support pip 23.1
  pyproject.toml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Remove installation guide for openSUSE/SLES
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install.rst
  doc/source/install/finalize-installation-obs.rst
  doc/source/install/finalize-installation.rst
  doc/source/install/storage-install-obs.rst
  doc/source/install/storage-install.rst
Due: none

common: add http exception handling for base storage server timing stats
  swift/account/server.py
  swift/common/base_storage_server.py
  swift/common/utils/__init__.py
  swift/container/server.py
  swift/obj/server.py
  test/unit/common/test_base_storage_server.py
  test/unit/common/test_utils.py
  test/unit/obj/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Allow PUT with `if-none-match: *`
  doc/s3api/conf/ceph-known-failures-keystone.yaml
  doc/s3api/conf/ceph-known-failures-tempauth.yaml
  swift/common/middleware/s3api/controllers/multi_upload.py
  swift/common/middleware/s3api/s3request.py
  test/functional/s3api/test_multi_upload.py
  test/functional/s3api/test_object.py
  test/s3api/test_conditional_writes.py
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

object-server: return 503 not 404 if meta or data file unlinked
  swift/common/exceptions.py
  swift/obj/diskfile.py
  swift/obj/server.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

mpu: append link to dependant mpu resource to override etag
  swift/common/middleware/mpu.py
  test/unit/common/middleware/test_mpu.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add labeled metrics to proxy-logging
  swift/common/middleware/proxy_logging.py
  test/unit/common/middleware/test_proxy_logging.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: more test cases for conditional writes.
  test/unit/common/middleware/s3api/test_multi_upload.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Object-server: add labeled timing metrics for other object server requests
  swift/obj/server.py
  test/unit/obj/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Reduce test time on OSX
  test/unit/obj/test_replicator.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Speed up statsd test_methods_are_no_ops_when_not_enabled
  test/unit/common/test_statsd_client.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Keep port number in valid range
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

CI: run S3 cross-compat tests as part of DSVM jobs
  .zuul.yaml
  roles/dsvm-additional-middlewares/tasks/main.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade
