Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

swift-build-image:
  parent: opendev-build-docker-image
  voting: false
  description: Build SAIO docker images.
  vars:
    docker_images:
    - context: .
      repository: openstackswift/saio

swift-build-image-py3:
  parent: opendev-build-docker-image
  voting: false
  description: Build py3 SAIO docker images.
  vars:
    docker_images:
    - context: .
      dockerfile: Dockerfile-py3
      repository: openstackswift/saio
      tags:
      - py3

swift-tox-py27:
  parent: swift-tox-base
  description: 'Run unit-tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py27
    tox_environment:
      NOSE_COVER_HTML: 1
  ...

swift-tox-py36:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36
  ...

swift-tox-py37:
  parent: swift-tox-base
  nodeset: ubuntu-bionic
  description: 'Run unit-tests for swift under cPython version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  ...

swift-tox-py38:
  parent: swift-tox-base
  nodeset: ubuntu-focal
  description: 'Run unit-tests for swift under cPython version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
  ...

swift-tox-func-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func

swift-tox-func-encryption-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-encryption`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-encryption

swift-tox-func-ec-py27:
  parent: swift-tox-base
  description: 'Run functional tests for swift under cPython version 2.7.
  
  
    Uses tox with the ``func-ec`` environment.
  
    It sets TMPDIR to an XFS mount point created via
  
    tools/test-setup.sh.
  
    '
  vars:
    tox_envlist: func-ec

swift-probetests-centos-8:
  parent: swift-probetests-centos-7
  nodeset: centos-8
  description: 'Setup a SAIO dev environment and run Swift''s probe tests
  
    under Python 3.
  
    '
  vars:
    bindep_profile: test py36

swift_proxy: add memcache skip success/error stats for shard range.
  swift/proxy/controllers/base.py
  swift/proxy/controllers/container.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_container.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Prevent XXE injections
  swift/common/middleware/s3api/etree.py
  test/functional/s3api/test_xxe_injection.py
  test/unit/common/middleware/s3api/test_multi_delete.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Proxy: move '_get_update_shard' from base class to child class.
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Fix stable/train gate
  .zuul.yaml
  lower-constraints.txt
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Add Kota's private email address to mailmap
  .mailmap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Drop tempest and grenade testing
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Use constant-time string comparisons in check_signature
  swift/common/middleware/s3api/s3request.py
  test/unit/common/middleware/s3api/test_s3request.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

s3api: Prevent XXE injections
  swift/common/middleware/s3api/etree.py
  test/unit/common/middleware/s3api/test_multi_delete.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Authors/ChangeLog for 2.31.0
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_31_0_release-77e6b20dfba3b32c.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Authors/ChangeLog for 2.29.2
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_29_2_release-de619e50f10cc413.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Authors/ChangeLog for 2.30.1
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_30_1_release-856dd70ec466aa74.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

Switch from pkg_resources to importlib
  swift/__init__.py
  swift/common/middleware/s3api/etree.py
  swift/common/utils.py
  test/unit/common/test_utils.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Authors/ChangeLog for 2.28.1
  .zuul.yaml
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_28_1_release-f71f8c034dd44ce7.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

tests: Fix some func tests to do with metadata maximums
  test/functional/test_account.py
  test/functional/test_container.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

Add new Kota's email entry to mailmap
  .mailmap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-lower-constraints, openstack-tox-pep8

test for unmounted w/ suppression_count
  test/unit/proxy/controllers/test_obj.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Don't clear x-container-sysmeta-sharding on delete_db
  swift/container/backend.py
  test/unit/container/test_backend.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Delete unused FakeObjectController
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix test assertion
  test/unit/common/test_db.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

proxy-server exception logging shows replication_ip/port
  swift/common/request_helpers.py
  swift/common/utils.py
  swift/proxy/controllers/account.py
  swift/proxy/controllers/base.py
  swift/proxy/controllers/container.py
  swift/proxy/controllers/obj.py
  swift/proxy/server.py
  test/unit/common/test_request_helpers.py
  test/unit/common/test_utils.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/controllers/test_obj.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Test x-backend-replication header with POST
  test/unit/obj/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

tests: Get rid of test.unit.SkipTest
  test/functional/__init__.py
  test/functional/s3api/__init__.py
  test/functional/s3api/test_acl.py
  test/functional/s3api/test_bucket.py
  test/functional/s3api/test_multi_upload.py
  test/functional/s3api/test_versioning.py
  test/functional/test_dlo.py
  test/functional/test_object.py
  test/functional/test_object_versioning.py
  test/functional/test_slo.py
  test/functional/test_tempurl.py
  test/functional/test_versioned_writes.py
  test/unit/__init__.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Use FakeSwift in account quota tests
  test/unit/common/middleware/test_account_quotas.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

quotas: Move account-level handling to a separate function
  swift/common/middleware/account_quotas.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

ring-builder: require part_power>=0, give better error messages
  swift/cli/ringbuilder.py
  swift/common/ring/builder.py
  test/unit/common/ring/test_builder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

docs: Add memcache.conf config doc
  doc/source/config/global_memcache_config.rst
  doc/source/config/index.rst
  doc/source/config/proxy_server_config.rst
Due: none

Fix docstring regarding private method
  swift/proxy/controllers/container.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

sharder: make misplaced objects lookup faster
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Skip S3 versioning test when versioning is not enabled
  test/functional/s3api/test_xxe_injection.py
Due: swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-dsvm-functional, swift-dsvm-functional-ipv6, openstack-tox-pep8, swift-multinode-rolling-upgrade

encryption: Expose decrypted metadata via CORS
  swift/common/middleware/crypto/decrypter.py
  test/functional/test_object.py
  test/unit/common/middleware/crypto/test_decrypter.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Present `pytest` steps in development guidelines
  doc/source/development_guidelines.rst
Due: none

ssync: fix decoding of ts_meta when ts_data has offset
  swift/obj/ssync_receiver.py
  test/probe/test_object_versioning.py
  test/unit/obj/test_ssync.py
  test/unit/obj/test_ssync_sender.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

sharder: show path and db file in logs
  swift/container/sharder.py
  test/unit/container/test_sharder.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

proxy: Reduce round-trips to memcache and backend on info misses
  swift/proxy/controllers/base.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Proxy: restructure cached updating shard ranges
  swift/common/utils.py
  swift/proxy/controllers/base.py
  swift/proxy/controllers/obj.py
  test/unit/common/test_utils.py
  test/unit/proxy/controllers/test_base.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-ec-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-probetests-centos-8, swift-dsvm-functional, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-probetests-centos-8: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
  grenade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG|.*\.rst)$
