Repository openstack/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test/unit/.*$

Simplify empty suffix handling
  swift/obj/diskfile.py
  test/unit/obj/test_diskfile.py
  test/unit/obj/test_reconstructor.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix bulk responses when using xml and Expect 100-continue
  swift/common/middleware/bulk.py
  test/functional/__init__.py
  test/functional/test_object.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove uncalled function
  swift/obj/diskfile.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix how we UTF-8-ify func tests
  test/functional/tests.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix lower-constraint deps handling
  lower-constraints.txt
  requirements.txt
  swift/container/sharder.py
  swift/container/sync.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

authors/changelog update for 2.21.0 release
  .mailmap
  AUTHORS
  CHANGELOG
  releasenotes/notes/2_21_0_release-d8ae33ef18b7be3a.yaml
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Replace openstack.org git:// URLs with https://
  tools/playbooks/swift-dsvm-functional-identity-v3-only/run.yaml
  tools/playbooks/swift-dsvm-functional/run.yaml
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update .gitreview for stable/stein
  .gitreview
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none

Fix mocking time
  test/unit/common/middleware/s3api/test_multi_upload.py
Due: swift-dsvm-functional

Make reconciler test more stable in the gate
  test/unit/container/test_reconciler.py
Due: swift-dsvm-functional

s3token: Add an underscore to the end of reseller_prefix if not present
  swift/common/middleware/s3api/s3token.py
  test/unit/common/middleware/s3api/test_s3token.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

api-ref: add link to SLO docs from multipart-manifest=put param
  api-ref/source/conf.py
  api-ref/source/parameters.yaml
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Run docs tox env under py3
  swift/common/wsgi.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove "gross hack" for py3pep8 env; run releasenotes under py3
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

add more detail to s3api test failure
  test/functional/s3api/s3_test_client.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Clean up more things before running unit tests
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: test/unit/common/middleware/s3api/test_s3token.py
  swift/common/middleware/s3api/s3token.py
  test/unit/common/middleware/s3api/test_s3token.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use labels to mount filesystems in the guide
  doc/source/deployment_guide.rst
Due: none

Make symlink work with Unicode account names
  swift/common/middleware/symlink.py
  test/functional/test_symlink.py
  test/functional/test_versioned_writes.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Change partition name from string to integer
  swift/obj/replicator.py
  test/unit/obj/test_replicator.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update openstack repo for libec install
  tools/test-setup.sh
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: port staticweb middleware
  swift/common/middleware/staticweb.py
  test/unit/common/middleware/test_staticweb.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add tests for unexpected names in part dir
  test/unit/obj/test_replicator.py
Due: swift-dsvm-functional

Remove our urlparse wrapper
  swift/common/middleware/acl.py
  swift/common/middleware/staticweb.py
  swift/common/utils.py
  swift/container/sync.py
  test/unit/common/test_utils.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make staticweb return URL-encoded Location headers
  swift/common/middleware/staticweb.py
  test/functional/test_staticweb.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use assertIn to check whether substring is in str
  test/unit/obj/test_auditor.py
Due: swift-dsvm-functional

Move from py35 to py37 for gating py3 jobs
  .zuul.yaml
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: port dlo
  swift/common/middleware/dlo.py
  test/unit/common/middleware/test_dlo.py
  tox.ini
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Clean up dlo unit tests
  test/unit/common/middleware/test_dlo.py
Due: swift-dsvm-functional

Make test_read_write_acl_listings more robust
  test/functional/test_container.py
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

OpenDev Migration Patch
  .gitreview
Due: legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
Due: swift-dsvm-functional, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423
